HOST=0.0.0.0
PORT=3002
REACT_APP_BASE_BACKEND_URL=http://localhost:8015 # Giữ nguyên

REACT_APP_CLOUD_NAME=dwdplk5xq # Giữ nguyên hoặc Có thể lấy cloud name của bạn, lấy từ https://cloudinary.com/
REACT_APP_UPLOAD_PRESET=drug_drug_interaction # Giữ nguyên hoặc Có thể lấy cloud của bạn, lấy từ https://cloudinary.com/